<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/6e90631620.js" crossorigin="anonymous"></script>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <title>{%block title%} {% endblock %} </title>

</head>
<body>
    

<div id="cuerpo" > 
    <div class="container text-center">
        <h1 id="logintitulo"><span> <img id="loginlogo" src="{% static 'logo.png' %}" width="90" height="90" class="d-inline-block align-top" alt=""></span> Descartes </h1> 

    </div>
    




    <div id="reset" class="container contenedor">
        <h1 class="text-center">
            Pasword reset 

        </h1>
        

        <p class="text-center text-white ">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

        <div class="container">

    
        <form class="form-group text-center text-white" action="" method="post">
            {% csrf_token %}
            {{form}}
        <input class="btn btn-primary"  type="submit" name="send email">

        </form>
    </div>

</div>
        <!-- Bootstrap's JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    

</html>

